{% extends "admins/base.html" %}
{% load static %}
{% block title %}e-Auction{% endblock %}
{% block head %}
<style>
    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: #682773
    }

    .profile-button:focus {
        box-shadow: none
    }

    .profile-button:active {
        box-shadow: none
    }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
    .border-right-my {
        border-right: 1px solid #dee2e6 !important;
    }

    @media only screen and (min-width : 480px) {
        .border-right-my {
            border-right: none !important;
        }
    }

    @media only screen and (min-width : 768px) {
        .border-right-my {
            border-right: 1px solid #dee2e6 !important;
        }
    }
</style>
{% endblock %}
{% block navbar %}
{% include "admins/nav.html" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="shadow-lg p-3 mb-5 bg-white rounded row">
            <div class="col-md-3 border-right-my">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="{% static 'img/dp.jpg' %}">
                    <span class="font-weight-bold">{{ user.first_name }}</span>
                    <span class="text-black-50">{{ user.email }}</span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">{{ user.username }}</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Name</label>
                            <input disabled type="label" class="readonly form-control" placeholder="{{ user.first_name }}" value="">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Surname</label>
                            <input disabled type="text" class="readonly form-control" value="{{ user.last_name }}" placeholder="surname">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Email ID</label><input disabled type="text" class="form-control" placeholder="No email id" value=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}