{% extends "admins/base.html" %}
{% block title %}e-Auction{% endblock %}

{% block navbar %}
{% include "admins/nav.html" %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="mt-5 shadow-lg p-3 mb-5 bg-white rounded p-5">
            <h1 class="font-weight-light">Register categories here!</h1>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa-solid fa-circle-plus"></i> Add
                </button>
            </form>
        </div>
    </div>
{% endblock %}