{% extends "admins/base.html" %}
{% block title %}e-Auction{% endblock %}

{% block navbar %}
{% include "admins/nav.html" %}
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="mt-5">
        <h1 class="font-weight-light"> Categories Detail!</h1>
        <hr>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title">Category - {{ category.name }}</h5>
                <p class="card-text">{{ category.description }}</p>
                <a href="{% url 'category_update' pk=category.pk %}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                <a href="{% url 'category_delete' pk=category.pk %}" class="btn btn-danger"><i class="fa-solid fa-eraser"></i> Remove</a>
            </div>
        </div>
        
        </ul>
    </div>
</div>
{% endblock %}