{% extends "auction/base.html" %}
{% block title %}e-Auction{% endblock %}

{% block navbar %}
{% include "auction/nav.html" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="m-5">
        <div class="jumbotron shadow-lg rounded">
            <h1 class="display-4">About e-Auction!</h1>
            <hr class="my-4">
            <p>
                A place to make bids, put items for bidding and much more.
            </p>
            We have two kinds of user:
            <ul>
                <li>Bidders - who will bid on items.</li>
                <li>Seller - who will put items on auction.</li>
            </ul>
            <hr>
            <h2 class="font-weight-light">Contact us</h2>
            <ul>
                <li>Mobile no - +91 9252365656</li>
                <li>Email - eauctions@gmail.com </li>
            </ul>
            <hr>
            <p class="text-right">
                &copy; e-Auction
            </p>
        </div>
    </div>
</div>
{% endblock %}