{% extends "auction/base.html" %}
{% block title %}Register{% endblock %}
{% load static %}
{% block navbar %}
{% include "auction/nav.html" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="mt-5">
        <h2 class="font-weight-light">Choose you account type</h2>
        <hr>
    </div>
    <div class="row justify-content-center">
        <div class="col m-3 mx-auto">
            <div class="card" style="width: 18rem">
                <img src="{% static 'img/buy.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bid on Auctions</h5>
                    <p class="card-text">Register to bid on items and make profit.</p>
                    <a href="{% url 'new_bidder' %}" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
        <div class="col m-3 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/sell.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Put Items on Auctions</h5>
                    <p class="card-text">Register to sell items an earn money.</p>
                    <a href="{% url 'new_seller' %}" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
        <div class="col m-3 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/admin.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Admin*</h5>
                    <p class="card-text">Register a new admin to help the team.*</p>
                    <a href="{% url 'new_auction_admin' %}" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}