{% extends "seller/base.html" %}
{% block title %}e-Auction{% endblock %}

{% block navbar %}
{% include "seller/nav.html" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="m-5">
        <div class="jumbotron">
            <h1 class="display-4">Products!</h1>
            <p class="lead">Here are all your products!</p>
            <hr class="my-4">
            <p>What to earn more? Add new products.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'add_product' %}" role="button"><i class="fa-solid fa-circle-plus"></i> Add More</a>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
            {% for product in products %}
            <div class="col">
                <div class="shadow-lg p-3 mb-5 bg-white rounded card m-1">
                    <img src="{% if product.image %}{{ product.image.url }}{% endif %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex flex-row justify-content-between mb-2">
                            <div class="d-flex">Price</div>
                            <div class="d-flex">&#8377; {{ product.min_price }}</div>
                        </div>
                        {% if product.getStatus %}
                        {% with status=product.getStatus %}
                        {% if status == "SUCCESS" %}
                        <div class="d-flex flex-row justify-content-between mb-2">
                            <div class="d-flex">Selling Price</div>
                            <div class="d-flex">&#8377; {{ product.auctioned.amount }}</div>
                        </div>
                        <div class="m-1 rounded text-white p-1 bg-success text-center d-block" style="font-size: 1em">
                            {{ status }}
                        </div>
                        {% else%}
                        <div class="m-1 rounded text-white p-1 bg-info text-center d-block" style="font-size: 1em">
                            {{ status }}
                        </div>
                        {% endif %}
                        {% endwith %}
                        {% endif %}
                        <a href="{{ product.id }}" class="btn btn-secondary btn-block">More <i class="fa-solid fa-circle-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}