{% extends "bidder/base.html" %}
{% block title %}e-Auction{% endblock %}

{% block navbar %}
{% include "bidder/nav.html" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="m-5">
        <h1 class="font-weight-light">Here are items you won!</h1>
        <hr>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
            {% for p in products %}
            {% with product=p.product %}
            <div class="col">
                <div class="shadow-lg p-3 mb-5 bg-white rounded card m-1">
                    <img src="{% if product.image %}{{ product.image.url }}{% endif %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex flex-row justify-content-between mb-2">
                            <div class="d-flex">Price</div>
                            <div class="d-flex">&#8377; {{ product.min_price }}</div>
                        </div>
                        <div class="d-flex flex-row justify-content-between mb-2">
                            <div class="d-flex">Your Bid</div>
                            <div class="d-flex">&#8377; {{ product.auctioned.amount }}</div>
                        </div>
                    </div>
                    {% if product.pk %}
                    <a href="{% url 'product_detail_bidder' pk=product.pk %}" class="btn btn-primary btn-block">Detail</a>
                    {% endif %}
                </div>
            </div>

            {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}