{% extends "auction/base.html" %}
{% block title %}Register{% endblock %}
{% block navbar %}
{% include "auction/nav.html" %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="mt-5">
            <h1>Register for selling items in auction here!</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form | crispy }}
                {{ bidder_form | crispy }}
                <input type="submit" class="btn btn-primary" value="Register">
            </form>
        </div>
        <div class="mt-5">
            <p>
                If you want to bid on items crate another account for user.
            </p>
        </div>
    </div>
{% endblock %}