{% extends "seller/base.html" %}
{% block title %}e-Auction{% endblock %}

{% block navbar %}
{% include "seller/nav.html" %}
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="mt-5 shadow-lg p-3 mb-5 bg-white rounded p-5">
        <h1>Remove product {{ product.name }}!</h1>
        <div class="alert alert-danger" role="alert">
            Note that this action cannot be undone!
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-danger">
                <i class="fa-solid fa-eraser"></i> Delete
            </button>
            <a href="{% url 'product_detail' pk=product.pk %}" class="btn btn-success">
                <i class="fa-solid fa-eraser"></i> Cancel
            </a>
        </form>
    </div>
</div>
{% endblock %}